<nav class="navbar navbar-expand-lg py-4 navbar-dark bg-success">
  <div class="container lead">
    <a class="navbar-brand fw-bolder" href="/">OLIO Coding Task</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>
